* {
    margin: 0;
    padding: 0;
    background-color: rgb(113, 145, 155);
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 20px;
}

.color-to-guess {
    margin: 20px 100px;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 180px;
    font-weight: bold;
    text-align: center;
    color: rgb(60, 60, 119);
}

.your-color {
    margin: 20px 100px;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(120, 120, 120);
}

.colors {
    display: flex;
    justify-content: center;
}

div button {
    height: 40px;
    width: 200px;
    margin: 30px 0;
    font-size: 25px;
    padding: 5px;
    background-color: rgb(224, 224, 220);
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 0.5px solid #010101;
}

.rules {
    width: 50%;
    margin: 20px auto 100px auto;
    font-size: 25px;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 30px;
    height: 35px;
}

.accuracy {
    font-size: 20px;
    height: 30px;
}


.overall-score,
.best-score {
    font-size: 25px;
    margin: 10px 0;
}

.slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.slide-container input {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 60%;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border-radius: 1.9px;
    border: 0.5px solid #010101;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 22px;
    width: 10px;
    border-radius: 3px;
    background: #fcf7f7;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input.red {
    background: red;
}

input.green {
    background: green;
}

input.blue {
    background: blue;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 40px;
    }

    p {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .color-to-guess {
        margin: 20px 50px;
        height: 180px;
        width: 180px;
        font-size: 170px;
    }

    .your-color {
        margin: 20px 50px;
        height: 180px;
        width: 180px;
    }

    .rules {
        width: 70%;
        margin: 10px auto 40px auto;
        font-size: 23px;
    }

    div button {
        height: 30px;
        width: 200px;
        margin: 20px 0;
        font-size: 20px;
    }
}

@media (max-width: 640px) {
    h1 {
        font-size: 30px;
    }

    p {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .rules {
        width: 80%;
        margin: 10px auto 30px auto;
        font-size: 20px;
    }

    div button {
        width: 120px;
        font-size: 17px;
    }

    .accuracy {
        font-size: 18px;
        text-align: center;
    }
}

@media (max-width: 420px) and (orientation: portrait) {
    .colors {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .color-to-guess {
        margin: 20px auto;
    }

    .your-color {
        margin: 20px auto;
    }

    div button {
        height: 30px;
        width: 200px;
        margin: 10px 0;
        font-size: 20px;
    }
}